<div class="content" id="body">

    <div class="container">
        <div class="row" id="home">
            <div>
                <h2>Hello my name is Ben Von Achen!</h2>
            </div>
            <div>
                <img class="center" id="BVA2" src="../../assets/images/bva2.jpg">
            </div>
            <div>
                <p>Welcome to my personal website! This is where you get to know more about me and my
                    background in Full
                    Stack Development. Here is a photo of myself standing behind the gorgeous coastline of Secret Beach
                    which is located up in Brookings, Oregon.</p>
            </div>
        </div>
    </div>

    <footer class="container-fluid footer">
        <div class="row justify-content-center">
            <!--<h5><i id="at" class="fa fa-at" aria-hidden="true"></i> bennyvonachen@gmail.com</h5>-->
            <h3>BVA TECHNOLOGIES INC.® COPYRIGHT 2021</h3>
        </div>
    </footer>

</div>