<div class="content" id="body">

    <div class="container">
        <div class="row" id="home">
            <div>
                <h2>My Story</h2>
            </div>
            <div class="col-sm">
                <img id="RIGA" src="../../assets/images/riga.jpg">
            </div>
            <div class="col-sm">
                <p>Originally I was born in a place called Riga, Latvia, located in North Eastern Europe. I enjoyed my
                    childhood and got to experience the European lifestyle before moving to the Unted States. I moved
                    to California in 2009 because most of my family lives in the United States. I was also born as a
                    U.S. citizen abroad so it was easier for me to get settled.
                </p>

                <p>I have lived in California for twelve years. During my time there I graduated from Shasta High School
                    and my favorite thing about it during my attendance was being part of the swim team. I started as a
                    Junior Varsity swimmer as a Freshman to making it to Masters as a Senior. I love the sport and is a
                    great exercise for the body. Then I went to attend Shasta College for two and a half years.
                </p>
            </div>

            <div>
                <p class="college">During my first and second semesters in Shasta College, I heard about the Bethel
                    Tech
                    program and was considering the idea of becoming a Full Stack Developer. At that time I knew nothing
                    about coding, but I always found technology, particularly apps to be interesting, and how someone
                    would go about creating them. So, during my second semester in Shasta College, I took a course
                    learning Java, but it did not go as well as I hoped. In the end, I failed the class because it was
                    hard for me and I did not know how to ask the right questions at the time. I also realized because
                    my teacher only had knowldge on Windows and Microsoft devices he could not help me because I used
                    Apple. Parts of it were going well for me, but in the end as it got more complex and I had to
                    download
                    certain applications that were not available for the Mac platform, I got frustrated and decided not
                    to take the final. After my experience I left the idea of becoming a developer on the back burner
                    for almost two years.
                </p>

                <p class="college">Three semesters go by and I still did not know what I wanted to do with my life.
                    In the middle of my fifth semester, I heard about how Bethel Tech was growing and how students
                    were able to find opportunities in the workspace. I decided to give it a second thought. Near the
                    end
                    of my fifth semester, I was doing my own research on Full Stack Web Development again, and this
                    time looked at the types of technologies and languages that Bethel Tech had to offer in their
                    program. After doing my research and signing up for a three month short course that would teach me
                    the
                    basics of HTML, CSS, and JavaScript, I decided to stop going to Shasta College and focus on this
                    short course and work two jobs which would lead me to creating my savings for Bethel Tech.
                </p>

                <p class="college">In the beginning of 2020, I took the short introductory course on how to build a
                    Full Stack Application from start to finish. The course was being taught by an actual developer
                    with fourteen years of experience and he worked on cool projects like building programs for the
                    Navy's nuclear submarines. I really liked the course and learned more about the process of
                    prgramming an application from start to finish in a short three month course than I did in college!
                    I was learning HTML, CSS, JavaScript, Ruby On Rails, AWS, and Heroku. With these technologies, I
                    built a social media application where users can write and send posts, look throught posts,
                    login and logout, and create or delete a user account. After my experience in the short course,
                    I decided to work between 55 to 65 hours a week till next year in February to save for the
                    Bethel Tech Full Stack program.
                </p>

                <p class="college">I acheived my goal of saving up for the program and started February 15th. I am
                    currently in the program and set to graduate in late October of this year. It is a part time program
                    which lasts for about nine months. I have more information on what I have learned in the program so
                    far in my projects section which you can access <a routerLink="/projects">here</a>. Overall I have
                    enjoyed my experience in Bethel Tech so far from learning the different types of technologies for
                    building a Full Stack application from the front to back end to getting to know like-minded people
                    online who have similar ambitions.
                </p>
            </div>
        </div>
    </div>

    <footer class="container-fluid footer">
        <div class="row justify-content-center">
            <!--<h5><i id="at" class="fa fa-at" aria-hidden="true"></i> bennyvonachen@gmail.com</h5>-->
            <h3>BVA TECHNOLOGIES INC.® COPYRIGHT 2021</h3>
        </div>
    </footer>

</div>