<div class="content" id="body">

    <div class="container">
        <div class="row" id="home">
            <div>
                <h2>Projects</h2>
            </div>
            <div class="col-sm">
                <img id="CODE" src="../../assets/images/coding.jpg">
            </div>
            <div class="col-sm">
                <p>So far I have been working on projects like this personal website, where I have been utilizing
                    these languages, front-end frameworks, and database technologies such as:
                </p>
                <ul>
                    <li>HTML, CSS, & JavaScript</li>
                    <li>Bootstrap</li>
                    <li>Angular & React</li>
                    <li>MySQL</li>
                    <li>Express & Node.js</li>
                    <li>JSON</li>
                </ul>
            </div>
            <div>
                <p class="github">Most of my project code is stored on my GitHub repositories. I like GitHub a lot due
                    to the fact that
                    you can store and create
                    records of code. Just in case your project happens to crash, you can restore the last code that you
                    saved that is functional.
                    Definitely recommend it especially when you need the code that actually worked.
                </p>
            </div>
            <div>
                <h2>First Personal Webpage</h2>
            </div>
            <div>
                <p class="pro">There are several starter projects that I have worked on where I was able to apply my
                    knowledge in what I have learned
                    about building applications. My first personal website was a start. This was a one page simple HTML,
                    CSS, & JavaScript
                    application. I also used Bootstrap to enhance the styling of the webpage as you can see in this
                    photo,
                    it turned out to be fun and interesting.
                </p>
            </div>
            <div>
                <img class="center" id="FIRSTWEB" src="../../assets/images/first-personal-web.png">
            </div>
            <div>
                <h2>PostIt!®</h2>
            </div>
            <div>
                <p class="postit">This was one of my interesting projects. With this project I was mostly working with
                    Express and JavaScript, the purpose of
                    this project was to learn how to work on the backend. It is a text messaging application, and what
                    is really cool about this application is
                    that it actually can create new users, has a functional login and logout, you can post messages, and
                    it is connected to a My SQL Database where it stores the user's information
                    including their posts.
                </p>
            </div>
            <div>
                <img class="center" id="POSTIT" src="../../assets/images/posi-it-login.png">
            </div>
            <div>
                <h2>State Tax Information</h2>
            </div>
            <div>
                <p class="statetax">Something that is more simple is this application. I was inspired by this idea when
                    I
                    was moving to Montata several months ago. It is called State Tax Information, and is a simple HTML
                    and CSS
                    application with a main page which includes links to all fifty states in the United States with tax
                    rate
                    information for each state. The idea behind this was to create a simple application where the user
                    can see
                    which state is the best option for them in terms of tax savings.
                </p>
            </div>
            <div>
                <img class="center" id="STATETAX" src="../../assets/images/state-tax-info.png">
            </div>

            <div>
                <p class="statetax">As you can see in the next photo when you click on one of the anchor tag links, like
                    Texas,
                    you will see four tax categories: State Individual Income Tax Rate, Corporate Income Tax Rate,
                    Sales Tax
                    Rate, and Property Tax Rate. When it comes to doing research on state tax rates, these are the four
                    main
                    categories that are most important when determining the states with the lowest and highest tax
                    rates.
                </p>
            </div>

            <div>
                <img class="center" id="STATETAX2" src="../../assets/images/state-tax-info2.png">
            </div>

            <div>
                <p class="statetax">I created this application without the knowledge of frontend frameworks such as
                    React and Angular,
                    so there is not much to it. If I have spare time I will add images and some JavaScript functionality
                    so that it
                    is not just HTML and CSS, but it was just a quck and easy project I did in my spare time.
                </p>
            </div>
            <div>
                <h2>Ionic Book App</h2>
            </div>
            <div>
                <p class="ionic">For me I would say this is one of the most fun projects that I have worked on. One of
                    the reasons being is I learned
                    how to integrate Ionic and Cordova into an Angular project. What is so great about Ionic and Cordova
                    is that they are UI frameworks
                    which are used for building high quality mobile and desktop apps. So with this project I was able to
                    make it
                    not only the desktop user has a layout, but also have one for the mobile and tablet users. The idea
                    behind the project was to create a photo book application which would include
                    pictures of my most favorite photos that I have taken with my iPhone camera and would also include
                    a short story about them. Let's go
                    have a
                    look at it.
                </p>
            </div>
            <div class="col-3">
                <img class="center" id="IONIC" src="../../assets/images/ionic-mobile.png">
            </div>
            <div class="col-3">
                <img class="center" id="IONIC" src="../../assets/images/ionic-mobile-toc.png">
            </div>
            <div class="col-3">
                <img class="center" id="IONIC" src="../../assets/images/ionic-mobile-pg3v1.png">
            </div>
            <div class="col-3">
                <img class="center" id="IONIC" src="../../assets/images/ionic-mobile-pg3v2.png">
            </div>

            <div>
                <p class="ionic">Here are four images of what the application would look like on a mobile device
                    such as an iPhone. On the far left is the image of what the "Home" page looks like for the
                    album. What I wanted to do with the background of every card is to have it match with the photo
                    so that every page has a different color based on it's colors matching with the background. On
                    the mid left is the image of the "Table Of Contents". This page has a list of seven pages for the
                    album, which are links that are utilized by a TypeScript function that stores routes to every
                    page so that when the user clicks on a section or page in the "Table Of Contents", it directs
                    them to that exact page that the user wants to view.
                </p>
            </div>

            <div>
                <p class="ionic">The next two images display one of the pages to the album. For the first image to the
                    mid right it has the page number on the top left, with the title and subtitle, the photograph,
                    and the description of the work. Once the user scrolls down the page, on the second image to the
                    far right, is displayed the "Table Of Contents" and the "Back" and "Next" buttons. What I thoght
                    would
                    be good besides just creating basic navigation for pages was to also include for the user an option
                    to go back to the "Table Of Contents" page. This way the user has an option to redirect back to the
                    "Table Of Contents" page where the user can choose the desired page that they would like to be
                    directed to.
                </p>
            </div>

            <div>
                <img class="center" id="IONIC-DESKTOP" src="../../assets/images/ionic-desktop.png">
            </div>
            <div>
                <p class="ionic">The photo above is the desktop version of the "Home" page. This was a fun and
                    interestion
                    project for me.
                    Even though it is just a start to my knowledge of creating a good format for multiple devices, I am
                    happy with
                    my results.
                </p>
            </div>
            <div>
                <h2>What's Next?</h2>
            </div>
        </div>
    </div>

    <footer class="container-fluid footer">
        <div class="row justify-content-center">
            <!--<h5><i id="at" class="fa fa-at" aria-hidden="true"></i> bennyvonachen@gmail.com</h5>-->
            <h3>BVA TECHNOLOGIES INC.® COPYRIGHT 2021</h3>
        </div>
    </footer>

</div>