<div class="content" id="body">

    <div class="container">
        <div class="row" id="home">

            <div>
                <h2>Contact Information</h2>
            </div>

            <div class="col-6">
                <img class="center" id="BVA" src="../../assets/images/bva.jpg">
            </div>

            <div class="col-6">
                <div id="linklist" class="row justify-content-center">

                    <p>I use Facebook and LinkedIn as my social media platforms for keeping contacts, so
                        feel free to reach me out through these platforms.
                    </p>

                    <p>I also use GitHub as my code repository, so feel free to ask me more questions about
                        the code behind the projects that I have created.
                    </p>

                    <ul>
                        <li>Telephone: 530.227.2818</li>
                        <li>Email: vonachenben@gmail.com</li>
                    </ul>

                    <a id="github" class="col-3" href="https://github.com/BVA1000">
                        <i class="fab fa-github-square icon"></i>
                    </a>

                    <a id="linkedin" class="col-3" href="https://www.linkedin.com/in/ben-von-achen-59b232198">
                        <i class="fab fa-linkedin icon"></i>
                    </a>

                    <a id="facebook" class="col-3" href="https://www.facebook.com/ben.vonachen.3">
                        <i class="fab fa-facebook-square icon"></i>
                    </a>
                </div>
            </div>
            <div>
                <h4>If you have any questions about my profile or projects, feel free to send me a message!</h4>
            </div>

            <div class="col-6">
                <form>
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                    <input type="text" placeholder="Email">
                </form>
            </div>
            <div class="col-6">
                <textarea class="center" name="contacts" id="contacts" placeholder="Type Text Here"></textarea>
                <button class="center" type="submit">SUBMIT</button>
            </div>

            <!--<div>
                <button class="center" type="submit">SUBMIT</button>
            </div>-->
        </div>
    </div>

    <footer class="container-fluid footer">
        <div class="row justify-content-center">
            <!--<h5><i id="at" class="fa fa-at" aria-hidden="true"></i> bennyvonachen@gmail.com</h5>-->
            <h3>BVA TECHNOLOGIES INC.® COPYRIGHT 2021</h3>
        </div>
    </footer>

</div>