#body {
    background-color: rgb(12, 68, 85);
}

@media (max-width: 576px) {
    img {
        display: flex;
        width: 150px;
        height: auto;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#PYTHON {
    width: 750px;
    height: auto;
    padding: 10px;
}

h2 {
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

h4 {
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}


#home {
    border: solid 3px rgb(12, 68, 85);
}


/* Website Footer and Email Icon */

footer {
    background-color: rgb(12, 68, 85);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    padding: 7px;
}

h3 {
    text-align: center;
}


p {
    border: solid 2px rgb(12, 68, 85);
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: justify;
    max-width: 1775px;
    margin: auto;
}

ul {
    text-align: justify;
    max-width: 350px;
    margin: auto;
}

li {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

/* Sticky Footer Settings */

html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

.footer {
    height: -50px;
    margin-top: 50px;
}

