<div class="content" id="body">
  <div class="container">
    <div class="row" id="home">
      <div>
        <h2>My Future Goals</h2>

        <h4>What To Learn Next</h4>

        <p>
          I have future goals for what to learn next besides what I already
          know. I believe that the more programming languages and technologies I
          know, the more valuable I become to employers and myself. Here is a
          list of what I want to learn next:
        </p>
      </div>

      <div class="col-sm">
        <img id="PYTHON" src="../../assets/images/python.jpg" />
      </div>

      <div class="col-sm">
        <ul>
          <li>More JavaScript</li>
          <li>Angular & React</li>
          <li>Python & Java</li>
          <li>Ruby on Rails</li>
          <li>Shopify & Liquid</li>
          <li>Data Structures & Algorithms</li>
          <li>Computational Problem Solving</li>
          <li>More Design Techniques</li>
          <li>E-Commerce</li>
          <li>Financial Technology</li>
          <li>Cryptography</li>
        </ul>
      </div>

      <div>
        <p>
          I would like to dive more into studying financial technology because I
          believe that this is the direction we are going. FinTech is increasing
          rapidly every year, and most industries and businesses are switching
          to an online platform for financial transactions. There are many pros
          and cons to this financial ecosystem, but if we can focus on solving
          the problems like cyber attacks, hacking, manipulation and theft of
          personal and public data, it would be a good idea to do so if we want
          to ensure that this ecosystem can work in the long run. In this case,
          my goal is to familiarize myself with how FinTech works and provide
          solutions like specialized algorhythms which would ensure security to
          both the clients and the financial institutions using FinTech.
        </p>

        <h4>My Career Goals</h4>

        <p>
          My goal as a new aspiring Full Stack Developer is to become self
          employed one day and have my own Tech industry which would solve
          challenging problems and bring great solutions to humanity. What that
          will look like for me is still uncertain, but I do know that I want to
          work for myself, but it will take some time and skills to develop and
          also finding the right people to start something great. This is why
          for the time being I want to work for a company that recruits fresh
          developers like myself who have coding bootcamp knowledge but need
          real life work experience. I would not mind working for either a well
          known establishment or a new start-up, but would like to be in a
          productive environment with great values and has a mindset for
          success. I like working with smart and responsible people and with the
          right team anything is possible.
        </p>

        <p>
          I have also had the thought of freelancing. The way I would go about
          this is I would have work in a tech company, and after I have mastered
          my craft I would use my free time to create side projects for clients
          who are looking for developers like to create applications for either
          their personal sites or for their business. I like the idea of
          freelancing because it encourages me to have an entrepreneurial
          mindset, which is valuable in the long run. I also think that it would
          be cool to build and create functional websites and applications for
          people who are willing to pay me for my work and would give me more
          experience in creating different types of projects.
        </p>

        <h4>Types Of Industries</h4>

        <p>
          In terms of the type of industries I want to be in I would say the
          financial industry seems to be the most interesting one for me. As a
          lover for financial history, I would like to learn the tech side of
          the financial world. We now have new emerging technologies like
          Cryptocurrency which are disrupting the way we do business and
          investing. Even though it is still new, I see it continuing to grow,
          and find valuable to understand the technologies that make it possible
          for the crypto to function. Also learning how digital financial
          services work is also important to understand because this is how most
          clients manage their finances and I see a need for more businesses to
          provide digital financial services to their customers who still do not
          have it. One day these old fashioned businesses will go out of
          business because they have not kept up with the demand to provide
          digital service to their customers. So I see more demand for
          businesses needing developers who specialize in creating this kind of
          technology and will be both beneficial for the business and the
          developer.
        </p>

        <p>
          In regards to cyber security, I believe that this is another area I
          want to learn. More than ever before we live in a world that is in
          growing danger of a potential cyber attack from clever hackers to
          governments across the globe. If more developers know how cyber
          security works and how to develop the right algorhythms that help
          protect multiple platforms, I believe we would have a functional and
          strong ecosystem which would ensure the protection of our digital
          systems. This is the digital are and I believe as developers it is
          crusial for us know how to build new technologies and algorhythms that
          would build protection and stability to our digital world.
        </p>
      </div>
    </div>
  </div>

  <footer class="container-fluid footer">
    <div class="row justify-content-center">
      <!--<h5><i id="at" class="fa fa-at" aria-hidden="true"></i> bennyvonachen@gmail.com</h5>-->
      <h3>BVA TECHNOLOGIES INC.® COPYRIGHT 2021</h3>
    </div>
  </footer>
</div>
