<div class="content" id="body">

    <div class="container">
        <div class="row" id="home">
            <div>
                <h2>Project Design</h2>
            </div>

            <div>
                <p class="design">One of my most favorite things about programming is the design element. I love the
                    design part of
                    every coding project that I have done because this is where I get to experiment and be creative. As
                    my father always
                    told me "Great Presentation is the key to Success!", and this is very true. I am still learning
                    more, but designing
                    a project from the color of the background to the style of the buttons, makes me feel like I am an
                    artist. To me building an application is like painting a great work of art. Both take time and
                    effort.
                </p>
            </div>
            <div class="col-sm">
                <img class="center" id="BUGATTI" src="../../assets/images/bugatti-bootstrap.png">
            </div>
            <div>
                <p class="design">Here is an image of a single page application focused solely on design. I used
                    Bootstrap to design this
                    page and it is my favorite library to use when building applications.

                </p>
            </div>
        </div>
    </div>

    <footer class="container-fluid footer">
        <div class="row justify-content-center">
            <!--<h5><i id="at" class="fa fa-at" aria-hidden="true"></i> bennyvonachen@gmail.com</h5>-->
            <h3>BVA TECHNOLOGIES INC.® COPYRIGHT 2021</h3>
        </div>
    </footer>

</div>